*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
section{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
   background: rgb(12, 12, 104);
}
@media (max-width:250px;){
    .game-box{
        border: none;
        border-radius: 0;
        width: 210px;
        height: 100vh;
    }
}
.game-box{
    background: rgb(103, 8, 103);
    backdrop-filter: blur(10px);
    width: 250px;
    height: 250px;
    display: grid;
    grid-template-rows: 80px 1fr;
    position: relative;
    border: 2px solid white;
    border-radius: 10px;
    padding-bottom: 2px;
    padding-top: 5px;
}
h1{
    font-size: 18px;
    align-content: center;
    text-align: center;
    height: 20px;
    color: white;
}
.robot-img{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.robot-img img{
    height: 65px;
    width: 65px;
}

.buttons-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 0 30px;
    
}
button{
    background-color: transparent;
    outline: none;
    border: none;
    height: 47px;
    width: 47px;
}
.buttons-box div button img {
    height: 47px;
    width: 47px;
    cursor: pointer;
    
}
.rock-container, .paper-container, .scissors-container{
    position: relative;
    height: 47px;
    width: 47px;
    
    
    
}
.haha{
    position: absolute;
    background-color: rgb(81, 42, 165);
    bottom: -30px;
    right: 15%;
    color: white;
    font-size: 11px;
    padding: 5px 8px 5px 8px;
    border-radius: 2px;
    opacity: 0;
    pointer-events: none;
    transition: .5s;
}
.rock-container:hover .haha, .paper-container:hover .haha, .scissors-container:hover .haha{
    opacity: 1;
}